@model AppointmentDetailsViewModel
@using HospitalApp.Helpers.Enums

<table class="table table-striped table-dark">
    <tr>
        <th>ID</th>
        <th>Doctor ID</th>
        <th>User Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Date</th>
        <th>Initial Total</th>
        <th>Is Booked</th>
        <th>Is Paid</th>
        <th>Is Rejected</th>
        <th>Notes</th>

    </tr>

    <tr>
        <td>@Model.Appointment.ID</td>
        <td>@Model.Appointment.DoctorID</td>
        <td>@(Model.Appointment.User != null ? Model.Appointment.User.UserName : "N/A")</td>
        <td>@Model.Appointment.AppointmentStartTime</td>
        <td>@Model.Appointment.AppointmentEndTime</td>
        <td>@Model.Appointment.AppointmentDate</td>
        <td>@Model.Appointment.InitialTotal</td>
        <td>@Model.Appointment.IsBooked</td>
        <td>@Model.Appointment.IsPaid</td>
        <td>@Model.Appointment.IsRejected</td>
        <td>@Model.Appointment.Notes</td>
        <td><a class="btn btn-primary" href="">Details</a></td>
    </tr>
    
</table>

@if(Model.Bill != null)
{
    <table class="table table-striped table-dark">
        <tr>
            <th>ID</th>
            <th>UserID</th>
            <th>User Name</th>
            <th>Bill Total</th>
            <th>Insurance</th>
        </tr>

        <tr>
            <td>@Model.Bill.Id</td>
            <td>@Model.Bill.Appointment.UserID</td>
            <td>@Model.Bill.Appointment.User.UserName</td>
            <td>@Model.Bill.Total</td>
            <td>@Model.Bill.InsuranceId</td>
        </tr>


    </table>
}

@if(Model.BillItemsAdded != null){

    <h1>ITEMS AND MEDICATION</h1>
    <table class="table table-striped table-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model.BillItemsAdded)
        {
            <tr>
                <td>@item.Name
                <td>@item.Price </td>
                <td>@item.Description </td>
            </tr>
        }
    </table>
}

@if(Model.PROMIS10 != null)
{
    PROMIS10 promis10 = Model.PROMIS10;
    var questions = PROMIS10_Questions.QuestionsList;
    var answers = new List<int>
    {
        promis10.Answer1,
        promis10.Answer2,
        promis10.Answer3,
        promis10.Answer4,
        promis10.Answer5,
        promis10.Answer6,
        promis10.Answer7,
    };


    <table class="table table-striped table-primary">
        <tr>
            <th>Questions</th>
            <th>Answers</th>
        </tr>
        @for (int i = 0; i < questions.Count(); i++)
        {
            <tr>
                <td>@questions[i]</td>
                <td>@answers[i]</td>
            </tr>
        }
    </table>
}

@if (!AdminService.HasOccurred(Model.Appointment.AppointmentDate))
{
    <form asp-controller="Admin" asp-action="ReassignDoctorToAppointment" class="authentication-form" method="post">
        <label>Reassign this appointment to another doctor</label>

        <select asp-for="DoctorID" class="form-control">
            @foreach(var doctor in Model.Doctors)
            {
                <option value="@doctor.ID">@doctor.User.UserName - @doctor.DoctorRole - @DoctorHierarchy.DislpayDictionary[@doctor.HierarchyStatus]</option>
            }
        </select>

        <input type="hidden" asp-for="AppointmentID" />

        <button type="submit" class="btn btn-primary">Reassign</button>
    </form>
    
}