@model List<Appointment>

<table class="table table-striped table-dark">
    <tr>
        <th>ID</th>
        <th>Doctor ID</th>
        <th>User Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Date</th>
        <th>Initial Total</th>
        <th>Is Booked</th>
        <th>Is Paid</th>
        <th>Is Rejected</th>
        <th>Notes</th>
        <th>Action</th>
        <th>Action</th>

    </tr>

    @foreach (var appointment in Model)
    {
        <tr>
            <td>@appointment.ID</td>
            <td>@appointment.DoctorID</td>
            <td>@(appointment.User != null ? appointment.User.UserName : "N/A")</td>
            <td>@appointment.AppointmentStartTime</td>
            <td>@appointment.AppointmentEndTime</td>
            <td>@appointment.AppointmentDate</td>
            <td>@appointment.InitialTotal</td>
            <td>@appointment.IsBooked</td>
            <td>@appointment.IsPaid</td>
            <td>@appointment.IsRejected</td>
            <td>@appointment.Notes</td>
            <td><a class="btn btn-primary" href="@Url.Action("AppointmentDetails", "Admin", new {appointmentID = appointment.ID})">Details</a></td>
            <td><a class="btn btn-primary" href="@Url.Action("CancelAppointment", "Admin", new {appointmentID = appointment.ID})">Cancel Appointment</a></td>

        </tr>
    }
</table>
