@model HospitalApp.Models.Patients.ViewModels.BillAndTransactionDetailsViewModelForm
@using HospitalApp.Helpers.Enums;
@{
    var nameOfInsurance = InsuranceTypesEnum.GetInsuranceNameById(Model.BillData.InsuranceId);
}

<table class="table table-striped table-dark">
    <tr>
        <th>ID</th>
        <th>UserID</th>
        <th>Doctor Name</th>
        <th>Bill Total</th>
        <th>Original Bill Total</th>
        <th>Doctor Notes</th>

        <th>Insurance</th>
    </tr>

    <tr>
        <td>@Model.BillData.Id
        <td>@Model.BillData.Appointment.DoctorID</td>
        <td>@Model.BillData.Appointment.User.UserName </td>
        <td>@Model.BillData.Total </td>
        <td>@Model.BillData.OriginalTotal </td>
        <td>@Model.BillData.DoctorsNotes </td>
        <td>@nameOfInsurance</td>
    </tr>         
</table>

<h1>ITEMS AND MEDICATION</h1>
<table class="table table-striped table-dark">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model.BillItems)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price </td>
            <td>@item.Description </td>
        </tr>
    }
</table>
@if (Model.BillData.InsuranceId == 0)
{
 
    <div class="login-form-container">
        <h1>Welcome!</h1>
        <form asp-controller="Patient" asp-action="SelectInsuranceAndDiscount" class="authentication-form">
        
            <input hidden asp-for="BillData.Id" value="@Model.BillData.Id" />
            <input hidden asp-for="BillData.Total" value="@Model.BillData.Total" />
            <input hidden asp-for="BillData.DoctorsNotes" value="@Model.BillData.DoctorsNotes" />
            <input hidden asp-for="BillData.IsDoctorApproved" value="@Model.BillData.IsDoctorApproved" />
            <input hidden asp-for="BillData.AppointmentId" value="@Model.BillData.AppointmentId" />

            <select asp-for="@Model.BillData.InsuranceId">
                <option disabled> Select Insurance </option>
                @for(var i = 0; i < InsuranceTypesEnum.InsuranceCoverage.Count(); i++)
                {
                    <option value="@(i+1)">@InsuranceTypesEnum.InsuranceCoverage.ElementAt(i).Key</option>
                }
            </select>
            <button type="submit">Add Insurance</button>


        </form>
    </div>
}

<div class="login-form-container">
    <h1>Welcome!</h1>
    <form asp-controller="Patient" asp-action="CreateTransaction" class="authentication-form">
        <input hidden asp-for="TransactionForm.BillId" value="@Model.BillData.Id" />
        <input hidden asp-for="AppointmentId" value="@Model.BillData.AppointmentId" />
        <input hidden asp-for="TransactionForm.PaymentAmount" value="@Model.BillData.Total" />

            <!-- Add credit card fields -->
            <div class="form-group">
                <label>Card Number</label>
                <input type="text" class="form-control" asp-for="@Model.TransactionForm.CardNumber">
            </div>
            <div class="form-group">
                <label>Card Holder Name</label>
                <input type="text" class="form-control" asp-for="@Model.TransactionForm.CardHolderName">
            </div>
            <div class="form-group">
                <label>Expiry Month</label>
                <input type="text" class="form-control" asp-for="@Model.TransactionForm.ExpiryMonth">
            </div>
            <div class="form-group">
                <label>Expiry Year</label>
                <input type="text" class="form-control" asp-for="@Model.TransactionForm.ExpiryYear">
            </div>
            <div class="form-group">
                <label>CVV</label>
                <input type="text" class="form-control" asp-for="@Model.TransactionForm.CVV">
            </div>
          

            <button type="submit">PayBill</button>

    </form>
</div>