@model HospitalApp.Models.Patients.ViewModels.BillDetailsViewModelForm
@using HospitalApp.Helpers.Enums;

<table class="table table-striped table-dark">
    <tr>
        <th>ID</th>
        <th>UserID</th>
        <th>Doctor Name</th>
        <th>Bill Total</th>
        <th>Doctor Notes</th>

        <th>Insurance</th>
    </tr>

    <tr>
        <td>@Model.BillData.Id
        <td>@Model.BillData.Appointment.DoctorID</td>
        <td>@Model.BillData.Appointment.User.UserName </td>
        <td>@Model.BillData.Total </td>
        <td>@Model.BillData.DoctorsNotes </td>
        <td>@Model.BillData.InsuranceId </td>
    </tr>         
</table>

<h1>ITEMS AND MEDICATION</h1>
<table class="table table-striped table-dark">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model.BillItems)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price </td>
            <td>@item.Description </td>
        </tr>
    }
</table>

<div class="login-form-container">
    <h1>Welcome!</h1>
    <form asp-controller="Patient" asp-action="SelectInsuranceAndDiscount" class="authentication-form">
        
        <input asp-for="BillData.Id" value="@Model.BillData.Id" />
        <input asp-for="BillData.Total" value="@Model.BillData.Total" />
        <input asp-for="BillData.DoctorsNotes" value="@Model.BillData.DoctorsNotes" />
        <input asp-for="BillData.IsDoctorApproved" value="@Model.BillData.IsDoctorApproved" />
        <input asp-for="BillData.AppointmentId" value="@Model.BillData.AppointmentId" />

        <select asp-for="@Model.BillData.InsuranceId">
            <option disabled> Select Insurance </option>
            @for(var i = 0; i < InsuranceTypesEnum.InsuranceCoverage.Count(); i++)
            {
                <option value="@(i+1)">@InsuranceTypesEnum.InsuranceCoverage.ElementAt(i).Key</option>
            }
        </select>
        <button type="submit">Add Insurance</button>

    </form>
</div>