@model HospitalApp.Models.Patients.ViewModels.IndexViewModel


<table class="table table-striped table-dark">
    <tr>
        <th>ID</th>
        <th>AppointmentStartTime</th>
        <th>AppointmentEndTime</th>
        <th>AppointmentDate</th>
        <th>InitialTotal</th>
        <th>IsBooked</th>
        <th>Notes</th>
        <th>Username</th>
        <th>Action</th>

    </tr>

    @foreach (var appointment in Model.ActiveAppointments)
    {
        <tr>
            <td>@appointment.ID</td>
            <td>@appointment.AppointmentStartTime</td>
            <td>@appointment.AppointmentEndTime</td>
            <td>@appointment.AppointmentDate</td>
            <td>@appointment.InitialTotal</td>
            <td>@appointment.IsBooked</td>
            <td>@appointment.Notes</td>
            <td>@appointment.User.UserName</td>
            @if(appointment.AttachedBill != null)
            {
                <td>
                    <a class="btn btn-danger" href="@Url.Action("BillDetails", "Patient", new {appointmentId = @appointment.ID})">View Bill</a>
                </td>
            }
            else
            {
                <td>
                    <a class="btn btn-success">N/A</a>
                </td>
            }
        </tr>
    }
</table>
